<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NER Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
    <h1>Named Entity Recognition Data</h1>
    <br>
    <p><a href="/" class="styled-button">back to form</a></p>
    <br>

    {% for sentence in sentences %}
        <div class="sentence">
            <strong>Timestamp:</strong> {{ sentence.timestamp }}
            <br>
            <strong>Sentence:</strong> {{ sentence.sentence }}
            <div>
                <strong>Entities:</strong>
                <ul>
                    {% for entity in sentence.ner %}
                        <li class="entity">{{ entity.entity_type }}: {{ entity.entity }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

</body>
</html>
